# Debug / local experiments
sakl_gui_debug.exe
Software Authentication Keyloader GUI.original.exe
sakl_gui_settings.ini
Software-Authentication-Keyloader-GUI-v*.zip

# Optional local backups
*.bak
*.tmp
*.log

# Windows
Thumbs.db
Desktop.ini

# IDE
.vs/
*.user
*.suo
